<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094335768734-r8e2p9vppp0i4fmar4hq5a936qcupjkg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094335768734-r8e2p9vppp0i4fmar4hq5a936qcupjkg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1094335768734-n1plhbtdcjt37k915c1iphi575qobc9u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>Search in Google keep</string>
	<key>GCM_SENDER_ID</key>
	<string>1094335768734</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gagandeep.flutterFirebaseAuthApp</string>
	<key>PROJECT_ID</key>
	<string>fir-app-gagan</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-gagan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094335768734:ios:4dd22a105d55e52d</string>
	<key>DATABASE_URL</key>
	<string>https://fir-app-gagan.firebaseio.com</string>
</dict>
</plist>